        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center">
                    <b>
                        Aprobación de facturas
                    </b>
                </h1>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-4 offset-4">
                <form>
                    <div class="mb-4 row">
                        <label for="inputFecha" class="col-sm-4 col-form-label"><b>Fecha:</b></label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="inputFecha">
                        </div>
                    </div>
                    <div class="mb-4 row">
                        <label for="inputIdFactura" class="col-sm-4 col-form-label"><b>Id factura:</b></label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="inputIdFactura">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col text-center">
                <button class="btn btn-success">
                    Siguiente
                </button>
            </div>
        </div>
       
   
