<div class="container">
    <div class="row">
        <div class="col">
            <h5 class="display-5 text-center" style="margin-top: 20px;">
                <b> Información de factura </b>
            </h5>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <form>
                        <div class="mb-1 row">
                            <label for="inputFecha" class="col-sm-4 col-form-label"
                                style="margin-left: 220px; margin-right: 1px; margin-top: 30px;">Fecha:</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" id="inputFecha"
                                    style="margin-left: 10px; margin-top: 30px">
                            </div>
                        </div>
                        <div class="mb-1 row">
                            <label for="inputIdFact" class="col-sm-4 col-form-label"
                                style="margin-left: 220px; margin-right: 1px; margin-top: 30px;">Id de
                                factura:</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" id="inputIdFact"
                                    style="margin-left: 10px; margin-top: 30px">
                            </div>
                        </div>
                        <div class="mb-1 row">
                            <label for="inputNombrePro" class="col-sm-4 col-form-label"
                                style="margin-left: 220px; margin-right: 1px; margin-top: 30px;">Nombre del
                                Proveedor:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="inputNombrePro"
                                    style="margin-left: 10px; margin-top: 30px">
                            </div>
                        </div>
                        <div class="mb-1 row">
                            <label for="inputNumDoc" class="col-sm-4 col-form-label"
                                style="margin-left: 220px; margin-right: 1px; margin-top: 30px;">CC o NIT:</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" id="inputCCoNIT"
                                    style="margin-left: 10px; margin-top: 30px">
                            </div>
                        </div>
                        <table>
              
                <div class="mb-5 row">
          

                    <table ALIGN="center">

                        <td>
                            <tr>
                                <td style="width: 170px;">Producto </td>
                                <td style="width: 170px;">Cantidad </td>
                                <td style="width: 170px;">Precio </td>
                            </tr>
                        </td>

                        <tr>
                            <td>xxxxxx</td>
                            <td>xxxxxx</td>
                            <td>xxxxxx</td>
                        </tr>
                    </table>
                </div>
            
      
    
    <div class="row" style="margin-top:11px;">
        <div class="col-8 offset-2">
            <button class="btn btn-secondary">Ver archivo adjunto pdf.</button>
        </div>
        <div class="row" style="margin-top:8px;">
        </div>
    </div>
    <form>
        <textarea style="width: 500px;margin-left: 315px; margin-top: 1px;" rows="3" cols="10"></textarea><br><br>
    </form>

<button type="submit" class="btn btn-success"
    style="margin-left: 620px; margin-right: 1px; margin-top: 1px;">Guardar</button>


