<div>
    <div class="container">
        <div class="row">
            <div class="col-2 offset-10" style="margin-top: 40px;">
                <div class="input-group">
                    <span style="margin-top: 10px;" class="input-group-addon"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="rounded d-block" viewBox="0 0 16 16">
                            
                        </svg></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="col text-center">
            <h1 class= "display-1" >
                <b>
                    SISTEMA DE FACTURACION
                </b>
            </h1>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col">
            <a href="./Registrodefacturas 2.html"><img src="assets/ModuloFacturas.jpeg" width="150"></a>
            <!-- <img src=assets/ModuloFacturas.jpeg width="150" class="rounded mx-auto d-block"> -->
        </div>
        <div class="col">
            <a href="./aprobacionFactura.html"><img src="assets/ModuloAprobacion.jpeg" width="150"></a>
           <!-- <img src=assets/ModuloAprobacion.jpeg width="150" class="rounded mx-auto d-block">-->
        </div>
        <div class="col">
            <a href="./Verificacion de factura.html"><img src="assets/ModuloRevision.jpeg" width="150"></a>
           <!-- <img src=assets/ModuloRevision.jpeg width="150" class="rounded mx-auto d-block"> -->
        </div>
        <div class="col">
            <a href="./Listadodeusuarios.html"><img src="assets/ModuloUsuarios.jpeg" width="150"></a>
          <!--  <img src=assets/ModuloUsuarios.jpeg width="150" class="rounded mx-auto d-block"> -->
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-2 offset-10">
                    <div class="d-grid gap-2 d-md-block">
                        <div class="form-check">
                            <div class="input-group">
                                <span style="margin-top: 50px;" class="input-group-addon">
                                    
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
