<div class="col">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3 text-center" style="margin-top: 50px;">
                    <b> Verificación de factura </b>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="mb-4 row">
    <label for="inputDate" class="col-sm-4 col-form-label text-center"
        style="margin-left: 80px; margin-right: 1px; margin-top: 30px;">Fecha:</label>
    <div class="col-sm-3">
        <input type="date" class="form-control" id="inputDate" style="margin-left: 10px; margin-top: 30px">
    </div>
    <div class="mb-4 row">
        <label for="inputIdFact" class="col-sm-4 col-form-label text-center"
            style="margin-left: 90px; margin-right: 1px; margin-top: 10px;">Id factura:</label>
        <div class="col-sm-3">
            <input type="id" class="form-control" id="inputIdFact" style="margin-left: 10px; margin-top: 10px;">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-success">Siguiente</button>
        </div>
    </div>
</div>


